@media (max-width: 1200px) {
  .header__images {
    display: none;
  }

  .carousel-images__box-img--1,
  .carousel-images__box-img--2 {
    width: 10rem;
  }
}

@media (max-width: 1024px) {
  .carousel-caption {
    top: 30%;
  }

  .process__section__boxes {
    width: 100%;
  }

  .game__section {
    grid-template-columns: 1fr;
  }

  .cta__content__title {
    font-size: 3.2rem;
  }
}

@media (max-width: 900px) {
  .game-logo__first-img {
    width: 80%;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .footer__contact__icon-box,
  .footer__info__social,
  .footer__social-icons {
    display: flex;
    justify-content: center;
  }

  .footer__contact__icon {
    width: 40px;
    height: 40px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__info__logo {
    width: 100px;
    margin-bottom: 20px;
  }

  .footer__text {
    font-size: 14px;
    margin: 5px 0;
  }

  .footer__current__date__box {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    align-items: center;
    padding: 1.6rem 2rem;
  }

  .header__logo {
    max-width: 8rem;
    margin-right: 0;
    margin-bottom: 1.6rem;
  }

  .registration-form {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-left: 0;
  }

  .registration-form__button {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  .registration-form__group input {
    padding-left: 3.2rem;
    font-size: 1.4rem;
  }

  .registration-form__group img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .header__dark-light__img {
    width: 2rem;
    height: 2rem;
  }

  .carousel-caption h1 {
    font-size: 8vw;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }

  .hero__section__cta {
    padding: 1.2rem 2.4rem;
  }

  .game-logo__primary {
    top: 50%;
    width: 100%;
  }

  .process__section__header__title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .registration-form,
  .header__image {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .burger-menu.active {
    display: flex;
  }

  .registration-form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2.4rem;
  }

  .form-input {
    width: 100%;
    padding: 1rem;
    margin-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .form-button {
    width: 100%;
    padding: 1.2rem 0;
    border: none;
    border-radius: 5px;
    color: var(--color-black);
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 2.4rem;
  }

  .form-button--register {
    background-color: var(--color-green);
  }

  .form-button--submit {
    background-color: var(--casino-gold);
  }

  .form-group img {
    width: 20px;
    height: 20px;
  }

  .process__section__header__title {
    text-align: center;
  }

  .process__section__boxes {
    grid-template-columns: 1fr;
  }

  .game_list_section {
    margin-top: 4.8rem;
  }

  .game_list_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .cta__section {
    grid-template-columns: 1fr;
  }

  .cta__content {
    width: 100%;
  }

  .cta__image {
    display: none;
  }
}

@media (max-width: 480px) {
  .game_list_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__logo {
    max-width: 6rem;
    margin-bottom: 1rem;
  }

  .header__images {
    gap: 5%;
  }

  .header__image {
    width: 90%;
  }

  .registration-form {
    padding: 1.2rem;
  }

  .registration-form__button {
    padding: 0.6rem 2.4rem;
  }

  .registration-form__group input {
    font-size: 1.2rem;
  }

  .registration-form__group img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .cta__content__title {
    font-size: 2.4rem;
  }

  .cta__content__description,
  .process__section__box__title {
    font-size: 1.6rem;
  }

  .process__section__box__description {
    font-size: 1.4rem;
  }
}