.hero__section {
  height: 100vh;
  position: relative;
  background-color: var(--color-black);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 1.2rem;
  border: 1rem solid var(--color-dark);
  background-color: var(--color-dark);
}

.carousel__first_slide {
  background-image: url(../../assets/images/hero-img-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel__first_slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.carousel__img {
  position: absolute;
  width: 10%;
  top: 20%;
  left: 10%;
}

.carousel-item {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-caption {
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
}

.carousel-caption h1 {
  font-size: 12vw;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 700;
  -webkit-animation: bounceIn 1s ease-out infinite;
  animation: bounceIn 1s ease-out infinite;
  color: var(--casino-gold);
}

.carousel-caption p {
  font-size: 4vw;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2.4rem;
  font-style: italic;
  letter-spacing: 1px;
}

.hero__section__cta {
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0 auto;
  background-color: var(--casino-gold);
  color: var(--color-black);
  font-weight: 600;
  padding: 1.6rem 3.8rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s ease, -webkit-filter 0.3s ease;
  transition: background-color 0.3s ease, -webkit-filter 0.3s ease;
  -o-transition: background-color 0.3s ease, filter 0.3s ease;
  transition: background-color 0.3s ease, filter 0.3s ease;
  transition: background-color 0.3s ease, filter 0.3s ease, -webkit-filter 0.3s ease;
}

.hero__section__cta:hover {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.hero__section__coin__first {
  width: 30%;
  height: auto;
  position: absolute;
  left: -10%;
  top: 50%;
  -webkit-animation: rounding 2s ease-in-out infinite;
  animation: rounding 2s ease-in-out infinite;
}

.hero__section__coin__second {
  width: 30%;
  height: auto;
  position: absolute;
  right: -10%;
  top: 50%;
  -webkit-animation: rounding 2s ease-in-out infinite;
  animation: rounding 2s ease-in-out infinite;
}

.game-logo__primary {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

.game-logo__first-img {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.carousel-images__box-img--1 {
  width: 20%;
  height: auto;
  top: 20%;
  position: absolute;
}

.carousel-images__box-img--2 {
  width: 10%;
  height: auto;
  bottom: 10%;
  right: 5%;
  position: absolute;
}

.game-logo__secondary img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

.game-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 20%;
  left: 10%;
}

.game-container__image {
  width: 10%;
  height: 10%;
  -webkit-animation: rounding 2s ease-in-out infinite;
  animation: rounding 2s ease-in-out infinite;
}

.game-logo__third img {
  width: 20%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 40%;
  -webkit-animation: zooming 1s ease-in-out infinite;
  animation: zooming 1s ease-in-out infinite;
}

.banana-game-box {
  width: 20%;
  height: auto;
  position: absolute;
  top: 55%;
  -webkit-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  transform: rotate(70deg);
}

.banana-game-wrapper {
  width: 15%;
  height: auto;
  position: absolute;
  top: 65%;
  left: 80%;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.banana-game-box__img,
.banana-game-wrapper__img {
  width: 100%;
  -webkit-animation: zooming 1s ease-in-out infinite;
  animation: zooming 1s ease-in-out infinite;
}